@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
@import "./utilities";

$borderColor: brown;
$boardColor: rgb(255, 179, 148);
$darkSlotColor: rgb(150, 31, 1);
$lightSlotColor: rgb(255, 193, 140);
$poolColor: $purple;
$scoreBoardColor: $purple;

$boardRatio: calc(780 / 520);
$boardSize: 800px;
$boardWidth: $boardSize * $boardRatio;
$boardHeight: calc($boardWidth / $boardRatio);

$poolHeight: $boardHeight;
$poolWidth: calc($boardWidth / 6);

$scoreBoardHeight: 150px;
$scoreBoardWidth: 400px;

$pieceSize: 50px;
$diceSize: 50px;

$boardBorder: 20px solid $borderColor;
$thinBorder: 3px solid black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: steelblue;
  overflow-x: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 30px;
}

.backgammon-game {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.piece {
  cursor: pointer;
  z-index: 10;
  height: $pieceSize;
  width: $pieceSize;
  border-radius: 50%;
  border: $thinBorder;
}

.board-container {
  position: relative;
  height: $boardHeight;
  width: $boardWidth;

  box-sizing: content-box;
  border: $thinBorder;
}

.piece-containers {
  .slot {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    padding: 10px;

    &.hover {
      filter: brightness(0.7);
    }
  }

  .slot.bottom {
    justify-content: flex-end;
  }

  .middle-piece {
    @extend .flex-center;
  }

  .captured-pieces {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .dice-container {
    @extend .flex-center;

    .roll-btn {
      @extend %btn;
      border: $thinBorder;
      margin-right: 20px;
    }

    .white-btn {
      @include set-background($white);
    }

    .black-btn {
      @include set-background($black);
    }

    .dices {
      display: flex;
      flex-direction: row;
      gap: 70px;
    }

    .dice {
      position: relative;
      @extend .flex-center;
      height: $diceSize;
      width: $diceSize;
    }

    .dice::before {
      content: "ss";
      font-size: $diceSize - 20px;
      color: black;
      background-color: black;
    }

    i {
      @extend .absolute-center;
      font-size: $diceSize;
      color: white;
    }

    .black-dice {
      &::before {
        color: white;
        background-color: white;
      }

      i {
        color: black;
      }
    }
  }
}

.board,
.piece-containers {
  @extend .absolute-center;
  height: $boardHeight;
  width: $boardWidth;
  border: $boardBorder;

  @extend .flex-center;
  flex-direction: row;

  .board-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
  }

  .slot {
    height: 100%;
    width: 100%;
  }

  .middle-piece {
    width: 10%;
    height: 100%;
  }
}

.board {
  z-index: -1;
  background-color: $boardColor;
  border: $boardBorder;

  .row.top {
    .slot:nth-child(2n) {
      background-color: $lightSlotColor;
    }

    .slot:nth-child(2n + 1) {
      background-color: $darkSlotColor;
    }
  }

  .row.bottom {
    .slot:nth-child(2n) {
      background-color: $darkSlotColor;
    }

    .slot:nth-child(2n + 1) {
      background-color: $lightSlotColor;
    }
  }

  .board-side {
    border: $thinBorder;
  }

  .middle-piece {
    background-color: $borderColor;
  }

  .slot {
    .triangle {
      height: 100%;
      width: 100%;
      border: $thinBorder;
    }
  }
}

.piece-pool {
  @extend .flex-center;
  height: $poolHeight;
  width: $poolWidth;
  border: $thinBorder;
  padding: 10px;

  border-radius: 10px;
  background-color: $poolColor;
  .pool-curve {
    border-radius: 10px;
    border: $thinBorder;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .side {
    height: 50%;
    width: 0;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
    flex-wrap: wrap;

    &.bottom {
      justify-content: flex-end;
    }
  }
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  transform: translateX(calc($poolWidth / -2));
  .score-board {
    height: $scoreBoardHeight;
    width: $scoreBoardWidth;
    background-color: $scoreBoardColor;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
  }

  .side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: $thinBorder;
    padding: 20px;
  }

  .side:first-child {
    border-right: none;
  }

  .piece-container {
    padding: 10px;
  }

  .btn {
    @extend %btn;
  }

  .piece {
    cursor: default;
  }
}
